$background: #f9fcff;
$background-sidebar: #03002e;
$link-active-color: #052345;
$link-hover-color: #123455;
$tab-icon-color: #052345;
$link-font-color: #ffffff;
$link-sub-menu: #f9fcff;
$color-white: #ffffff;
$sidebar-border: #e2683c;
$white: #ffffff;
$primary-color: #052345;